<mat-drawer-container class="example-container w-full h-[100vh] justify-center items-center" autosize>
  <mat-drawer #drawer class="example-sidenav lg:w-1/3 w-full" mode="over" position="end">
    <div class="flex flex-col space-y-3 p-4">
      <div class="relative border-b-2 flex flex-row justify-between items-center p-3">
        <span class="material-icons p-2 hover:bg-gray-200 rounded-full" (click)="drawer.close()">
          arrow_back
        </span>
        <div class="text-xl">User</div>
        <div>
          <div class="text-center items-center">
            <ng-container *ngIf="User.id; else elseTemplate">
              <button mat-raised-button color="primary" (click)="Update(User)">Cập Nhật</button>
            </ng-container>
            <ng-template #elseTemplate>
              <button mat-raised-button color="primary" (click)="Dangky(User)">Thêm User</button>
            </ng-template>
          </div>
        </div>
      </div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Họ Tên</mat-label>
        <input type="text" [(ngModel)]="User.Hoten" [ngModelOptions]="{standalone: true}" matInput
          class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Họ Tên'" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Số Điện Thoại</mat-label>
        <input type="text" [(ngModel)]="User.SDT" [ngModelOptions]="{standalone: true}" matInput
          class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Số Điện Thoại'" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Email</mat-label>
        <input type="text" [(ngModel)]="User.email" [ngModelOptions]="{standalone: true}" matInput
          class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Email'" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full" *ngIf="!User.id">
        <mat-label>Mật Khẩu</mat-label>
        <input type="password" [(ngModel)]="User.password" [ngModelOptions]="{standalone: true}" matInput
          class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Mật Khẩu'" />
      </mat-form-field>
    </div>
  </mat-drawer>
  <div class="example-sidenav-content">
    <div class="w-full">
      <div class="flex flex-col w-full p-4 rounded shadow-lg bg-white">
        <div class="flex flex-col justify-between space-y-2">
          <mat-form-field appearance="outline" class="w-full text-xs">
            <mat-label>Tìm Kiếm</mat-label>
            <input matInput (keyup)="applyFilter($event)" class="w-full" placeholder="Tìm Kiếm" #input>
            <span matPrefix class="material-icons mr-2">search</span>
          </mat-form-field>
          <div class="flex flex-row space-x-3 justify-start w-full">
            <div class="flex flex-col items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg">
              <span class="material-icons text-xl" matTooltip="Tùy Chỉnh">tune</span>
              <span class="text-xs">Cấu Hình</span>
            </div>
            <div (click)="drawer.toggle();this.User={}"
              class="flex flex-col items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg">
              <span class="material-icons text-xl" matTooltip="Tạo mới">add_circle</span>
              <span class="text-xs">Thêm</span>
            </div>
          </div>
        </div>
        <div class="mat-elevation-z8 w-full">
          <table class="w-full" mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="Hoten">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ Tên </th>
              <td mat-cell *matCellDef="let row" (click)="drawer.toggle();User=row"> {{row.Hoten}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
              <td mat-cell *matCellDef="let row" (click)="drawer.toggle();User=row"> {{row.email}} </td>
            </ng-container>
            <ng-container matColumnDef="SDT">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Số Điện Thoại </th>
              <td mat-cell *matCellDef="let row"> {{row.SDT}} </td>
            </ng-container>
            <ng-container matColumnDef="Role">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Phân Quyền </th>
              <td mat-cell *matCellDef="let row">
                <button mat-button [matMenuTriggerFor]="menu" class="border"> {{Role[row.Role]}}</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="SetRole(row,item)" *ngFor="let item of Role|keyvalue">{{item.value}}</button>
                </mat-menu>
              </td>
            </ng-container>
            <ng-container matColumnDef="Reset">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Reset Pass </th>
              <td mat-cell *matCellDef="let row">
                <span class="material-icons p-2 rounded-md hover:bg-blue-200" (click)="RandomPass(row)">
                  restart_alt
                </span>
                {{row.Randompass}}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
      </div>
    </div>
  </div>

</mat-drawer-container>