<div class="max-w-5xl flex flex-col space-y-4 py-12 px-6 h-full m-auto">
  <div class="flex flex-row space-x-20 justify-center">
    <img [src]="'assets/muangay2.png'" class="h-10" [routerLink]="['/buyer']">
    <img [src]="'assets/banngay1.png'" class="h-10" [routerLink]="['/seller']">
  </div>
  <div class="flex flex-col space-y-4 bg-[#441E5B] rounded pb-2 p-8">
    <div class="flex flex-row space-x-12 justify-between">
      <div class="w-full flex flex-col">
          <label for="first_name" class="block mb-2 text-white">{{'So_luong'|translate}}</label>
          <input type="text" (change)="OnChange()" [(ngModel)]="SellData.QuantityIn" [ngModelOptions]="{standalone: true}"
           class="w-full p-3 bg-[#291038] text-white rounded">
          <span class="text-white font-bold">{{ 'Fee' | translate }} {{SellData.Fee| number:'1.0-0'||'0'}}%</span>
      </div>
      <div class="w-full">
        <div class="mb-2 font-medium text-white flex flex-row space-x-2 justify-between">
          <span>*Địa chỉ ví USDT: </span>
          <div [matMenuTriggerFor]="menu" class="!text-white flex flex-row items-center space-x-2">
            <span>{{Network.Title}}</span>
            <img [src]="Network.img" class="h-5 bg-white">
            <span class="material-icons">
              expand_circle_down
              </span>
           </div> 
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let item of ListNetwork" (click)="Network=item">{{item.Title}}</button>
            </mat-menu>
        </div>       
        <input [(ngModel)]="SellData.CustomAccount2" [ngModelOptions]="{standalone: true}" type="text" class="w-full p-3 bg-[#291038] text-white rounded">    
    </div>
    </div>
    <div class="flex flex-row space-x-12 justify-between">
      <div class="w-full">
          <label class="block mb-2 font-medium text-white">*Email</label>
          <input [(ngModel)]="SellData.Email" [ngModelOptions]="{standalone: true}" type="text" class="w-full p-3 bg-[#291038] text-white rounded">
      </div>
      <div class="w-full">
        <div class="mb-2 font-medium text-white flex flex-row space-x-2 justify-between">
          <span>*Địa chỉ ví <strong>abc</strong>:</span>
        </div>       
        <input [(ngModel)]="SellData.CustomAccount1" [ngModelOptions]="{standalone: true}" type="text" class="w-full p-3 bg-[#291038] text-white rounded">    
    </div>
    </div>
    <div class="flex flex-row justify-between rounded border border-[#eab308] mx-4 px-8 p-4">
        <div class="text-white italic font-bold">Tổng giá trị nhận được : </div>
        <div class="text-yellow-500 font-bold text-xl">{{(SellData.QuantityOut| number:'1.0-0')||'0'}} <span class="text-white">usdt</span> </div>
    </div>
    <div class="flex flex-col space-y-1">
      <label for="message" class="block mb-2 text-sm font-medium text-white">*Nội Dung Giao Dịch :</label>
      <textarea [(ngModel)]="SellData.Note" [ngModelOptions]="{standalone: true}" rows="3" class="bg-[#291038] text-white rounded"></textarea>
    </div>
    <div class="flex flex-row justify-center px-4">
      <img [src]="'assets/xacnhan.png'" class="h-10" (click)="CreateSell(SellData)">
      <!-- <button (click)="CreateSell(SellData)" type="button" class="text-white bg-green-500 p-2 rounded">Xác Nhận Giao Dịch</button> -->
    </div>
    <div class="flex flex-col p-2 text-white italic">
      *Hoàn tất giao dịch trong vòng 15 phút hoặc được hoàn tiền
    </div>
  </div>
  <div class="flex flex-col space-y-3 bg-[#441E5B] rounded p-8">
    <div class="text-white ml-4">
        <span>Hướng Dẫn Thanh Toán</span>
    </div>
    <div class="text-white">
        <span>- Quý KH chuyển số tiền 123usdt vào địa chỉ ví Công ty. </span><span class="text-yellow-500">Nội dung chuyển khoản vui lòng nhập Địa chỉ email và STK abc của quý khách</span>
    </div>
    <div class="text-white">
        <span>- Địa chỉ ví USDT abc của Công Ty: xxxxx xxxáddfsgsdf </span>
    </div>
    <div class="text-white flex flex-row space-x-3 items-center">
        <strong>*TRANSATION ID BANK</strong>
          <input [(ngModel)]="SellData.TransIdBank" [ngModelOptions]="{standalone: true}" type="text" class="w-1/2 p-3 bg-[#291038] text-white rounded">
    </div>
  </div>
</div>