<section class="h-full gradient-form bg-gray-200 md:h-screen">
  <div class="container py-12 px-6 h-full m-auto">
    <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
      <div class="w-full h-full">
        <div class="block bg-white shadow-lg rounded-lg">
          <div class="lg:flex lg:flex-wrap g-0">
            <div class="flex flex-col justify-center space-y-4 lg:w-full px-4 md:px-0">
              <div class="flex flex-col w-full p-4 rounded shadow-lg bg-white">
                <mat-form-field appearance="outline" class="w-full text-xs">
                  <mat-label>{{'Search'| translate }}</mat-label>
                  <input matInput (keyup)="applyFilter($event)" class="w-full" placeholder="{{'Search'| translate }}" #input>
                  <span matPrefix class="material-icons mr-2">search</span>
              </mat-form-field>
                <div class="mat-elevation-z8 w-full">
                  <table class="w-full" mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="Type">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Type'| translate }} </th>
                      <td mat-cell *matCellDef="let row"> 
                        <ng-container *ngIf="row.Type==1; else elseTemplate">
                          {{'SITE_BUY'| translate }}
                        </ng-container>
                        <ng-template #elseTemplate>
                          {{'SITE_SELL'| translate }}
                        </ng-template>
                      </td>
                    </ng-container>                    
                    <ng-container matColumnDef="QuantityIn">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>  {{'Quantity_In'| translate }} </th>
                      <td mat-cell *matCellDef="let row"> 
                          {{row.QuantityIn| number:'1.0-0'||'0'}}đ
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Fee">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Fee'| translate }} </th>
                      <td mat-cell *matCellDef="let row"> 
                          {{row.Fee| number:'1.0-0'||'0'}}đ
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="QuantityOut">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Quantity_Out'| translate }} </th>
                      <td mat-cell *matCellDef="let row"> 
                          {{row.QuantityOut| number:'1.0-0'||'0'}}đ
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="CompanyAccount1">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Company_Account1'| translate }} </th>
                      <td mat-cell *matCellDef="let row"> {{row.CompanyAccount1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="CompanyAccount2">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Company_Account1'| translate }} </th>
                      <td mat-cell *matCellDef="let row"> {{row.CompanyAccount2}} </td>
                    </ng-container>
                    <ng-container matColumnDef="CustomAccount1">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Custom_Account1'| translate }} </th>
                      <td mat-cell *matCellDef="let row"> {{row.CustomAccount1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="CustomAccount2">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Custom_Account2'| translate }} </th>
                      <td mat-cell *matCellDef="let row"> {{row.CustomAccount2}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Email'| translate }} </th>
                      <td mat-cell *matCellDef="let row"> {{row.Email}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Content">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Content'| translate }} </th>
                      <td mat-cell *matCellDef="let row"> {{row.Content}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Note">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Note'| translate }} </th>
                      <td mat-cell *matCellDef="let row"> {{row.Note}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng Thái </th>
                      <td mat-cell *matCellDef="let row"> 
                        <mat-slide-toggle class="text-xs" color="primary" (change)="UpdateTT(row)">
                          {{row.Status==0?'Waiting':'Done'}} 
                        </mat-slide-toggle>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="{{row.Type==1?'!bg-red-200 ':'!bg-green-200'}}"></tr>
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</section>