<div class="flex lg:flex-row flex-col lg:space-x-4">
  <div class="flex flex-col">
    <mat-form-field appearance="outline">
      <mat-label>{{'Quantity'| translate }}</mat-label>
      <input type="number" (change)="OnChange()" [(ngModel)]="BuyData.QuantityIn" [ngModelOptions]="{standalone: true}"
       matInput placeholder="{{'Quantity'| translate }}">
       <mat-hint><span class="text-blue-500">{{(BuyData.QuantityIn| number:'1.0-0')||'0'}}đ</span></mat-hint>
    </mat-form-field>
    <!-- <mat-form-field appearance="outline">
      <mat-label>{{'Fee'| translate }}</mat-label>
      <input type="number" disabled [(ngModel)]="BuyData.Fee" [ngModelOptions]="{standalone: true}" matInput placeholder="{{'Fee'| translate }}">
      <mat-hint><span class="text-blue-500">{{(BuyData.Fee| number:'1.0-0')||'0'}}%</span></mat-hint>
    </mat-form-field> -->
    <div class="flex flex-row space-x-2 p-2">
      <span>{{'Fee'| translate }}</span> <span>{{(BuyData.Fee| number:'1.0-0')||'0'}}%</span>
    </div>
   
    <mat-form-field appearance="outline">
      <mat-label>{{'Total'| translate }}</mat-label>
      <input type="number" disabled [(ngModel)]="BuyData.QuantityOut" [ngModelOptions]="{standalone: true}" matInput placeholder="JPY Nhận Được">
      <mat-hint><span class="text-blue-500">{{(BuyData.QuantityOut| number:'1.0-0')||'0'}} {{'Value'| translate }}</span></mat-hint>
    </mat-form-field>
  </div>
  <div class="flex flex-col">
    <mat-form-field appearance="outline">
      <mat-label>{{'Custom_Account1'| translate }}</mat-label>
      <input [(ngModel)]="BuyData.CustomAccount1" [ngModelOptions]="{standalone: true}" matInput placeholder="{{'Custom_Account1'| translate }}"> 
      <button matSuffix mat-icon-button [cdkCopyToClipboard]="BuyData.CustomAccount1" (click)="openSnackBar('Coppy '+ BuyData.CustomAccount1, 'Close')">
        <mat-icon><span class="material-icons">content_copy</span></mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{'Email'| translate }}</mat-label>
      <input [(ngModel)]="BuyData.Email" [ngModelOptions]="{standalone: true}" matInput placeholder="{{'Email'| translate }}">
      <button matSuffix mat-icon-button [cdkCopyToClipboard]="BuyData.Email" (click)="openSnackBar('Coppy '+ BuyData.Email, 'Close')">
        <mat-icon><span class="material-icons">content_copy</span></mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{'Company_Account2'| translate }}</mat-label>
      <input [(ngModel)]="BuyData.CompanyAccount2" [ngModelOptions]="{standalone: true}" matInput placeholder="{{'Company_Account2'| translate }}">
      <button matSuffix mat-icon-button [cdkCopyToClipboard]="BuyData.CompanyAccount2" (click)="openSnackBar('Coppy '+ BuyData.CompanyAccount2, 'Close')">
        <mat-icon><span class="material-icons">content_copy</span></mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
<mat-form-field appearance="outline" class="w-full">
  <mat-label>{{'Note'| translate }}</mat-label>
  <textarea matInput [(ngModel)]="BuyData.Note" [ngModelOptions]="{standalone: true}"></textarea>
</mat-form-field>
<div class="text-center">
  <a mat-raised-button color="primary" (click)="CreateBuy(BuyData)">{{'Confirm'| translate }}</a>
</div>