<mat-drawer-container class="example-container flex h-[100vh]" autosize>
    <mat-drawer #drawer mode="side" opened class="h-full">
        <div class="flex flex-col h-full">
            <!-- <div (click)="openDialog(dialogTemplate)">Add</div> -->
              <div class="flex flex-col {{isMini?'min-w-[80px]':'min-w-[270px]'}} h-full overflow-auto pb-5">
                  <div class="flex flex-row justify-between items-center p-4 bg-[#441E5B]">
                      <img [src]="ImgUrl+Config.Brand.Img.spath" class="max-h-[40px] h-full"/>
                  </div>
                  <div [routerLink]="[item.Slug]" routerLinkActive="bg-gray-200" (click)="drawer.open()"
                      class="flex flex-row justify-between items-center p-4 hover:bg-gray-200"
                      *ngFor="let item of FilterLists; let i = index">
                      <div class="flex flex-col space-y-2 w-full">
                          <div class="flex {{isMini?'flex-col space-y-2 text-xs':'flex-row space-x-2'}} items-center">
                              <span class="material-icons">settings</span>
                               <span>{{item.Title}} </span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="relative flex flex-0 items-center justify-between w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
                <span class="font-medium text-secondary">Title</span>
                <div class="flex flex-row space-x-3">
                            <span class="material-icons" [routerLink]="'changepass'">settings</span>
                            <span class="material-icons" (click)="Logout()">logout</span>
                    </div>
              </div>             
          </div>
    </mat-drawer>
    <mat-drawer-content class="!flex flex-col flex-auto relative bg-white !h-[100vh]">
        <div class="relative flex flex-col h-full w-full overflow-auto">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <ng-template #dialogTemplate>
    <div class="min-w-[672px]">
    <div mat-dialog-title>Add Mới</div>
    <div mat-dialog-content>
        <div class="flex flex-col w-full space-y-4 p-4">
            <mat-form-field appearance="outline" class="w-full">
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="Detail.Title" [ngModelOptions]="{standalone: true}" placeholder="Title">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
            <mat-label>Slug</mat-label>
            <input matInput [(ngModel)]="Detail.Slug" [ngModelOptions]="{standalone: true}" placeholder="Slug">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="justify-center">
        <button mat-button class="bg-red-400 hover:bg-red-600 text-white" mat-dialog-close="false">Huỷ</button>
        <button mat-button class="bg-blue-400 hover:bg-blue-600 text-white" mat-dialog-close="true">Đồng Ý</button>
    </div>
  </div>
  </ng-template>