<div class="flex flex-row space-x-4 p-3">
    <mat-form-field appearance="outline">
        <mat-label>Tiêu Đề</mat-label>
        <input (keydown.enter)="createKey(NewKey)" type="text" [(ngModel)]="NewKey" [ngModelOptions]="{standalone: true}"
         matInput class="px-3 py-2 border border-gray-200 rounded"
          [placeholder]="'Tìm kiếm bài viết'"/>
      </mat-form-field>  
      <div><button mat-raised-button (click)="createKey(NewKey)">Thêm Key</button></div>
</div>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="{{item.name}}" *ngFor="let item of lang">
        <div class="grid grid-cols-4">
            <div class="p-4" *ngFor="let item1 of keys">
                <mat-form-field appearance="outline" class="w-full items-center">
                  <mat-label>{{item1.key_name}}</mat-label>
                  <input type="text" (change)="Change($event,translate,item,item1)" [value]="GetTranslate(translate,item,item1)" matInput class="w-full px-3 py-2 border border-gray-200 rounded"
                    [placeholder]="GetTranslate(translate,item,item1)"/>
                </mat-form-field>  
            </div>
        </div>
    </mat-tab>
  </mat-tab-group>