<div class="!flex flex-col flex-auto min-w-0 relative bg-white">
  <div class="relative border-b-2 flex flex-row justify-between items-center p-3">
    <span class="material-icons p-2 hover:bg-gray-200 rounded-full">
      arrow_back
      </span>
      <div class="text-xl">Đổi Mật Khẩu</div>
      <div>
      </div>
  </div>
  <div class="relative h-full w-full overflow-auto flex flex-col space-y-2 justify-between p-4">
    <div class="flex flex-col w-full justify-center">
      <div class="m-auto w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8">
        <h2 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            Đổi Mật Khẩu
        </h2>
        <div class="mt-4 space-y-4 lg:mt-5 md:space-y-5 text-center">
    
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Mật Khẩu Cũ</mat-label>
                <input [(ngModel)]="Data.oldpass" matInput placeholder="Mật Khẩu Cũ">
                </mat-form-field>
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Mật Khẩu Mới</mat-label>
                <input [(ngModel)]="Data.newpass" matInput placeholder="Mật Khẩu Mới">
                </mat-form-field>
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Xác Nhận Mật Khẩu Mới</mat-label>
                <input [(ngModel)]="Data.newpass2" matInput placeholder="Xác Nhận Mật Khẩu Mới">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="ChangePass(Data)">Xác Nhận</button>
          </div>
    </div>
    </div>
    </div>
</div>